.game-of-life {
  width: 70vh;
  background-color: rgb(33, 141, 141);
  padding: 5px;
  padding-bottom: 2vh;
  margin: 0 auto;
  padding: 0 2vh;
}

.game-of-life .board {
  margin: 0 auto;
  display: grid;
  padding: 0 0 2% 0;
}

.game-of-life .cube {
  width: 2vh;
  height: 2vh;
  border: solid 1px black;
}
