* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://thumbs.dreamstime.com/b/blue-abstract-backround-blur-effect-blue-abstract-backround-117426484.jpg)
    no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.nav {
  background-color: rgb(17, 66, 66);
  padding: 5px 0;
  width: 100%;
  height: 6vh;
}

.footer {
  background-color: rgb(17, 66, 66);
  width: 100%;
  height: 5vh;
}

.footer p {
  text-align: center;
  padding-top: 4px;
}

.nav .logo {
  color: rgb(197, 185, 185);
  border: 1px solid;
  border-radius: 10px;
  background: linear-gradient(rgb(60, 117, 117), #34495e);
}

.nav .Weather {
  font: 10px sans-serif;
  margin: 0.8vh;
  padding: 0.3vh;
  float: right;
  color: silver;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  border-radius: 10px;
  width: 4em;
  height: 2.5em;
}

.nav a {
  text-decoration: none;
  color: rgb(231, 231, 231);
  width: auto;
  padding-bottom: 3px;
  margin: 0 10px;
  font-size: 1.5rem;
}

.game {
  width: 90%;
  height: 89vh;
  margin: 0 auto;
  padding-top: 3vh;
}

.home {
  text-align: center;
  background: linear-gradient(rgb(54, 119, 126), rgb(104, 118, 196));
  border-radius: 10px;
  min-height: 60%;
  padding-bottom: 1vh;
}

.home p,
.home hr,
.home table,
.home .grid {
  width: 70%;
  margin: 2vh auto;
}

.home h1 {
  padding: 2vh;
}

.home td,
th {
  border-left: 1px solid black;
}

.home th {
  background-color: lightblue;
}

.home .grid {
  display: flex;
  height: 150px;
}

.home .grid-text {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(rgb(193, 223, 223), rgb(37, 37, 41));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(54, 119, 126), rgb(104, 118, 196));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(19, 114, 124), rgb(35, 59, 190));
}

.home .grid h1 {
  font-size: 1.5rem;
}

.home .grid p {
  font-size: 0.7rem;
}

.active {
  text-decoration: underline;
}

.nav a:hover {
  cursor: pointer;
  background: linear-gradient(rgb(17, 66, 66), #34495e);
  font-weight: bold;
}

button {
  width: auto;
  padding: 1px 3px;
}

.gamesCard {
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.gamesCard .card {
  background: rgb(185, 181, 181);
  margin: 5px 14px 0 0;
}

.gamesCard .card:hover {
  background: rgb(127, 171, 182);
}

.gamesCard img {
  width: 95%;
  height: 95%;
}
